---
layout: layouts/base.njk
permalink: /links/
title: Links
---
<section class="band band--white">
  <div class="wrap wrap--narrow center">
    <h1 class="heading">Find What Suzie Made</h1>
    {% include "partials/social-pills.njk" %}
  </div>
</section>
