---
pagination:
  data: redirects
  size: 1
  alias: r
permalink: "{{ r.from }}index.html"
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en-GB"><head><meta charset="utf-8"><title>Moved</title>
<link rel="canonical" href="{{ r.to }}"><meta http-equiv="refresh" content="0; url={{ r.to }}"><meta name="robots" content="noindex">
</head><body><p>This page has moved to <a href="{{ r.to }}">{{ r.to }}</a>.</p></body></html>
